/*CSS Main Stylesheet*/
* {
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #fff;
}

:root {
    --background-color: #303a53;
    --accent-color: #86e3ff;
    --accent-color-2: #ffe600;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Ensure body takes full height */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html {
    background-color: var(--background-color);
    font-size: 24px;
}

#header {
    width: 100%;
    height: 100vh;
    padding: 10px 0 0 0;
    background-color: var(--background-color);
}

.container {
    padding: 10px 10%;
    text-align: center;
}

.profile-picture {
    width: 280px;
    border-radius: 50%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    text-decoration: none;
    position: relative;
    font-size: 1.75rem;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 4px;
    background: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.25s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-intro {
    margin-top: 10%;
    font-size: 1.25rem;
}

span {
    color: var(--accent-color);
}

.header-intro span:hover {
    text-shadow: 0 0 10px var(--accent-color);
}

/* -- ABOUT -- */

#about {
    padding: 75px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-left {
    flex-basis: 35%;
}

.family {
    width: 80%;
    border-radius: 15px;
}

.about-col-right {
    flex-basis: 60%;
    text-align: left;
}

.about-col-right p {
    padding-bottom: 20px;
}

.sub-title {
    font-size: 2.5rem;
    color: var(--accent-color);
    padding-bottom: 50px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 1rem;
    font-family: monospace;
    cursor: pointer;
    position: relative;
    background-color: var(--background-color);
    border: none;
}

.tab-links:hover {
    color:var(--accent-color-2);
    transition: color 0.3s ease-in;
    text-decoration: underline;
}

.tab-links.active-link::after {
    width: 90%;
}

.tab-contents ul {
    padding: 0;
}

.tab-contents ul li {
    list-style-type:none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--accent-color);
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

summary {
    border-top: 2px solid #fff;
    margin-top: 20px;
    padding-top: 16px;
}

/*-- PROJECTS --*/

#projects {
    padding: 30px 0;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
    color: #fff;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-bottom: 50px;
}

.projects-list a {
    text-decoration: none;
}

.projects-list div {
    background: #272727;
    transition: background 0.5s, transform 0.4s;
    padding: 40px;
    border-right: 10px;
    border-radius: 30px;
}

.projects-list div i {
    font-size: 2.0rem;
}

.projects-list div h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.projects-list p {
    font-size: 0.90rem;
}

.projects-list div:hover {
    background: #111;
    transform: translateY(-6px);
}

/*-- CONTACT --*/

.contact-info p {
    margin-top: 30px;
}

.contact-info p i {
    color: var(--accent-color);
    margin-right: 15px;
    font-size: 24px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a i {
    text-decoration: none;
    font-size: 60px;
    margin-right: 15px;
    color: #fff;
    transition: transform 0.5s;
}

.social-icons a i:hover {
    color:var(--accent-color-2);
    transform: translateY(-5px);
}

.btn {
    display: block; margin: 50px auto;
    width: fit-content;
    border: 3px solid var(--accent-color);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: var(--accent-color);
    color: #111;
}

/* ---- FOOTER ---- */

footer {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 400;
    background-color: #272727;

}

footer a {
    margin-bottom: 15px;
    padding-bottom: 20px;

}

footer p {
    margin-top: 15px;
    margin-bottom: 15px;
}

/*----------- RESPONSIVE ------------*/

/*SMALL*/

@media only screen and (min-width: 320px) and (max-width: 1200px) {
    
    .container {
        margin: 30px 10px;
        padding: 0;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        font-size: 1rem;
    }

    .profile-picture {
        width: 200px;
    }
    
    .header-intro {
        font-size: .75rem;
    }

    #header {
        height: 90vh;
    }

    .row {
        flex-direction: column;
    }

    #about {
        margin: 0;
        padding: 0;
    }

    .sub-title {
        font-size: 2rem;
        padding-bottom: 0px;
    }

    .family {
        width: 200px;
    }

    .about-col-right p {
        font-size: 0.75rem;
    }

    .tab-titles {
        flex-direction: column;
        align-items: baseline;
    }

    .tab-contents ul {
        padding: 0;
        font-size: 0.75rem;
    }

    summary {
        font-size: 0.75rem;
    }

    .projects-list div h2 {
        font-size: 1.5rem;
    }


    .contact-info p {
        font-size: 0.75rem;;
    }

    footer {
        font-size: 0.75rem;
    }

}
